.container {

    padding: 44px 32px;

    h6 {
        font-family: $fontAleo;
        color: $whiteColor;
        font-weight: 300;
        font-size: 20px;
        line-height: 1.4;
        letter-spacing: 0.1em;
        margin-bottom: 16px;
    }


}