h4 {
    font-size: 22px;
}


.input {
    justify-content: space-between;
    width: 94vw;

    ::-webkit-input-placeholder {
        letter-spacing: 0.2em;
    }

    button {
        padding: 16px 24px;
    }
}

.scroll {
    .icon {

        width: 14px;

    }
}