html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.pseudo__header {
  background-image: url("../img/bg-1-min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 152px;
  min-height: 100vh;
}
.pseudo__header h2 {
  color: #FFFFFF;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

h4 {
  color: #FFFFFF;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  letter-spacing: 0.31em;
  line-height: 1.2;
}

::-webkit-input-placeholder {
  color: #333333;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.4;
  letter-spacing: 0;
  opacity: 1;
}

.input {
  background-color: #FFFFFF;
  padding: 4px 5px;
  display: flex;
  align-items: center;
  height: 60px;
  width: 96vw;
  margin: 48px 0 150px 0;
}
.input input {
  width: inherit;
  border: 0;
}
.input button {
  display: flex;
  align-items: center;
  padding: 16px 8px;
  background-color: #5373FD;
  border: 0;
}
.input button span {
  color: #FFFFFF;
  font-style: normal;
  font-family: "Aleo", serif;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.input button .icon {
  width: 16px;
  height: 16px;
  fill: #FFFFFF;
  margin-right: 8px;
}

.scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}
.scroll span {
  color: #FFFFFF;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.2em;
  margin-bottom: 10px;
}
.scroll .icon {
  fill: #FFFFFF;
  width: 14px;
  height: 16px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding: 12px 0;
  width: 100vw;
  overflow: hidden;
  background-color: #5373FD;
  position: relative;
}

.nav__bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: inherit;
}
.nav__bar h3 {
  font-family: "Josefin Sans", sans-serif;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-top: 2px;
}

.links {
  position: fixed;
  left: -100%;
  display: flex;
  flex-direction: column;
  background-color: #5373FD;
  width: 100vw;
  text-align: center;
  margin-top: 64px;
  transition: 0.3s;
}
.links .link {
  font-family: "Aleo", serif;
  color: #FFFFFF;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-bottom: 24px;
}
.links .link:hover {
  font-size: 24px;
}

.links.active {
  left: 0;
  position: relative;
}

.hamburger {
  display: block;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #FFFFFF;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.why {
  background-image: url("../img/bg-2-min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ccc;
  padding: 60px 18px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.images img {
  width: 280px;
}
.images img:nth-child(2) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text-container {
  margin-bottom: 20px;
}

.steps {
  background-color: #333333;
}
.steps img {
  display: none;
}

.actions {
  display: grid;
  grid-template-columns: 220px;
  align-items: center;
  justify-content: center;
  padding: 36px 46px;
}
.actions .icon {
  width: 64px;
  height: 64px;
  margin-bottom: 20px;
}

.actions__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.actions__item h6 {
  color: #FFFFFF;
  font-family: "Aleo", serif;
  font-size: 36px;
  line-height: 1.1;
}

.actions__item:nth-child(1) .icon {
  fill: #5373FD;
}

.actions__item:nth-child(2) .icon {
  fill: #FF6363;
}

.actions__item:nth-child(3) .icon {
  fill: #00A2FF;
}

.book {
  background-image: url("../img/bg-3-min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ccc;
  padding: 120px 18px;
}

.book--now {
  background-image: url("../img/bg-4-min.jpg");
}

.container {
  background-color: rgba(35, 35, 35, 0.9);
  padding: 44px 32px;
}
.container h6 {
  font-family: "Aleo", serif;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  margin-bottom: 16px;
}

.WhatTouristsSay {
  background-image: url("../img/bg-5-min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 18px;
}
.WhatTouristsSay img {
  width: 280px;
}
.WhatTouristsSay .container {
  background-color: #333333;
}

p .icon {
  fill: #5373FD;
  width: 20px;
  height: 60px;
}

footer {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  padding: 60px 50px;
  align-items: center;
}
footer h3 {
  font-size: 24px;
}
footer span {
  font-family: "Josefin Sans", sans-serif;
  color: #FFFFFF;
  line-height: 1.4;
  letter-spacing: 0.2em;
  margin: 8px 0 20px;
}

.social {
  display: flex;
  justify-content: space-around;
}

.social__item {
  margin-right: 32px;
}
.social__item .icon {
  fill: #FFFFFF;
  width: 32px;
  height: 32px;
}

.social__item:last-child {
  margin: 0;
}

.social__item:hover .icon {
  width: 49px;
  height: 56px;
}

.social__item:nth-child(1):hover .icon {
  fill: #486BFE;
}

.social__item:nth-child(2):hover .icon {
  fill: #00A2FF;
}

.social__item:nth-child(3):hover .icon {
  fill: #5373FD;
}

.social__item:nth-child(4):hover .icon {
  fill: #FF6363;
}

.social__item:nth-child(5):hover .icon {
  fill: #FF6363;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a,
a:hover,
a:link,
a:visited {
  text-decoration: none;
  border-radius: none;
  cursor: pointer;
}

a:focus,
a:active {
  outline: none;
}

li {
  list-style: none;
}

.button {
  height: 60px;
  width: 180px;
  border: 0;
  background: linear-gradient(40deg, #486BFE 48%, #5373FD 52%);
  font-family: "Aleo", serif;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin-top: 24px;
}

p {
  font-family: "Josefin Sans", sans-serif;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  letter-spacing: 0.1em;
  margin-top: 16px;
}

h2 {
  margin: 10px 0 20px;
  font-family: "Aleo", serif;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.1;
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
  font-family: "Aleo", serif;
  color: #FFFFFF;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}

h5 {
  font-family: "Josefin Sans", sans-serif;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
}

@media only screen and (min-width: 576px) {
  h4 {
    font-size: 22px;
  }
  .input {
    justify-content: space-between;
    width: 94vw;
  }
  .input ::-webkit-input-placeholder {
    letter-spacing: 0.2em;
  }
  .input button {
    padding: 16px 24px;
  }
  .scroll .icon {
    width: 14px;
  }
  .nav__bar {
    display: inline;
    height: 60px;
  }
  .nav__bar h3 {
    width: fit-content;
    left: calc(50% - 84px);
    top: 20px;
    position: relative;
  }
  .hamburger {
    position: relative;
    margin: 0;
    left: calc(94% - 24px);
    top: -12px;
  }
  .images {
    display: flex;
    gap: 24px;
  }
  .images img {
    width: 258px;
    height: 162px;
  }
  .images img:nth-child(2) {
    position: relative;
    width: 258px;
    height: 162px;
    margin: 0;
    padding: 0;
  }
  .text-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .WhatTouristsSay {
    background-image: url("../img/bg-5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 18px;
  }
  .WhatTouristsSay img {
    width: 280px;
  }
  .WhatTouristsSay .container {
    background-color: #333333;
  }
  p .icon {
    fill: #5373FD;
    width: 20px;
    height: 60px;
  }
}
@media only screen and (min-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
  }
  .nav__bar {
    display: unset;
    justify-content: unset;
    align-items: unset;
    width: fit-content;
    height: fit-content;
  }
  .nav__bar h3 {
    height: fit-content;
    left: unset;
    top: unset;
    position: relative;
  }
  .hamburger {
    display: none;
  }
  .links {
    position: relative;
    left: 0;
    margin-top: 32px;
    display: flex;
    padding: 0;
    width: fit-content;
    flex-direction: row;
    gap: 40px;
  }
  .links a {
    font-size: 14px;
    padding: 0;
  }
  .images img {
    width: 350px;
    height: 220px;
  }
  .images img:nth-child(2) {
    width: 350px;
    height: 220px;
  }
  .WhatTouristsSay {
    display: flex;
    flex-direction: column;
  }
  .WhatTouristsSay img {
    width: 94vw;
  }
  .WhatTouristsSay .container {
    width: 94vw;
  }
}
@media only screen and (min-width: 1024px) {
  .input {
    width: 63vw;
  }
  .nav {
    flex-direction: row;
    gap: 21vw;
  }
  .why {
    display: grid;
    grid-template-columns: 53vw 44vw;
  }
  .images {
    grid-column-start: 2;
    flex-direction: column;
  }
  .images img {
    width: 350px;
    height: 220px;
  }
  .images img:nth-child(2) {
    width: 350px;
    height: 220px;
    margin-left: 3vw;
  }
  .text-container {
    width: 53vw;
    grid-column-start: 1;
    grid-row-start: 1;
    align-items: flex-start;
  }
  .text-container p {
    text-align: left;
  }
  .text-container .button {
    grid-row-start: 1;
  }
  .steps {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 87px 0;
  }
  .actions {
    gap: 11vw;
    grid-template-columns: 220px 220px 220px;
    padding: 46px 36px;
  }
  .actions .actions__item {
    margin-bottom: 0;
  }
  .container {
    width: 53vw;
  }
  .book--now .container {
    margin-left: 43vw;
  }
  .WhatTouristsSay {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 60px 18px 180px;
  }
  .WhatTouristsSay h2 {
    width: 96vw;
    text-align: center;
    margin-bottom: 60px;
  }
  .WhatTouristsSay img {
    width: 336px;
    height: 320px;
  }
  .WhatTouristsSay .container {
    width: 62vw;
    height: 320px;
  }
  footer {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    padding: 60px 50px;
  }
  footer span {
    font-family: "Josefin Sans", sans-serif;
    color: #FFFFFF;
    line-height: 1.4;
    letter-spacing: 0.2em;
    margin: 8px 0 20px;
  }
  .social {
    display: flex;
    justify-content: space-around;
  }
  .social__item .icon {
    fill: #FFFFFF;
    width: 32px;
    height: 32px;
  }
  .social__item:nth-child(1):hover .icon {
    fill: #486BFE;
  }
  .social__item:nth-child(2):hover .icon {
    fill: #00A2FF;
  }
  .social__item:nth-child(3):hover .icon {
    fill: #5373FD;
  }
  .social__item:nth-child(4):hover .icon {
    fill: #FF6363;
  }
  .social__item:nth-child(5):hover .icon {
    fill: #FF6363;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  * {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  a,
a:hover,
a:link,
a:visited {
    text-decoration: none;
    border-radius: none;
    cursor: pointer;
  }
  a:focus,
a:active {
    outline: none;
  }
  li {
    list-style: none;
  }
  .button {
    height: 60px;
    width: 180px;
    border: 0;
    background: linear-gradient(40deg, #486BFE 48%, #5373FD 52%);
    font-family: "Aleo", serif;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    margin-top: 24px;
  }
  p {
    font-family: "Josefin Sans", sans-serif;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.75;
    text-align: center;
    letter-spacing: 0.1em;
    margin-top: 16px;
  }
  h2 {
    margin: 10px 0 20px;
    font-family: "Aleo", serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.1;
    text-transform: uppercase;
  }
  h3 {
    text-transform: uppercase;
    font-family: "Aleo", serif;
    color: #FFFFFF;
    line-height: 1.4;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
  }
  h5 {
    font-family: "Josefin Sans", sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 1.4;
    text-transform: uppercase;
  }
}
@media only screen and (min-width: 1360px) {
  .input {
    width: 47vw;
  }
  .nav {
    flex-direction: row;
    gap: 29vw;
    padding: 33px 8vw;
  }
  .images img:nth-child(2) {
    margin-left: 7vw;
  }
  .steps img {
    left: calc(35vw - 226px);
    opacity: 0.5;
    position: absolute;
    width: 61vw;
  }
  .container {
    width: 40vw;
  }
  .book--now .container {
    margin-left: 57vw;
  }
  .WhatTouristsSay .container {
    width: 58vw;
  }
}
@media only screen and (min-width: 1920px) {
  .input {
    width: 33vw;
  }
  .nav {
    flex-direction: row;
    gap: 27vw;
    padding: 32px 17vw;
  }
  .why {
    padding: 124px 16vw;
  }
  .images img:nth-child(2) {
    margin-left: 7vw;
  }
  .steps img {
    left: calc(35vw - 226px);
    opacity: 0.5;
    position: absolute;
    width: 61vw;
  }
  .container {
    width: 40vw;
  }
  .book--now .container {
    margin-left: 57vw;
  }
  .WhatTouristsSay .container {
    width: 58vw;
  }
}

/*# sourceMappingURL=style.css.map */
