//for text
$whiteColor: #FFFFFF;
$placeholderColor: #999999;

//for icons
$blueColor: #00A2FF;
$lightBlueColor: #5373FD;
$lessLightBlueColor: #486BFE;
$redColor: #FF6363;

//for background
$darkGreyColor: #333333;
$transparentGreyColor: rgba(35, 35, 35, 0.9);
$blackColor: #000000;

//font-family
$fontJosefinSans: 'Josefin Sans', sans-serif;
$fontAleo: 'Aleo', serif;

//for font-size
$baseFontSize: 14px;