.steps {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 87px 0;


}

.actions {
    gap: 11vw;
    grid-template-columns: 220px 220px 220px;
    padding: 46px 36px;

    .actions__item {
        margin-bottom: 0;
    }
}