.steps {
    display: flex;
    flex-direction: column;
    height: 306px;

    img {
        left: calc(35vw - 163px);
        opacity: 0.5;
        position: absolute;
        width: 61vw;
    }
}

.actions {

    gap: 11vw;
    grid-template-columns: 220px 220px 220px;
    padding: 46px 36px;

}